body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    touch-action: manipulation;
    text-align: center;
  }

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg_clean.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    touch-action: pan-y;
  }

.logo {
    max-width: 200px;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.container {
    text-align: center;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}
.container > * {
    display: block;
}

.home-button {
    border: none;
    background-color: rgb(173 145 113); 
    color: white; 
    padding: 12px 24px; 
    border-radius: 20px; 
    cursor: pointer;
}
.home-button:hover {
    background-color: #0056b3;
}